<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div >
        <div >
          <div>
            <h1>Add an Author</h1>
            <form action="/" method="post">
              <div class="mb-3 row">
                <label for="first_name" 
                  >First Name</label
                >
                <div >
                  <input
                    type="text"
                  />
                </div>
              </div>
              <div >
                <label for="last_name" 
                  >Last Name</label
                >
                <div >
                  <input
                    type="text"
                  
                  />
                </div>
              </div>
  
              <div >
                <label
                  for="exampleFormControlTextarea1"
                  >Notes</label
                >
                <div class="col-sm-9">
                  <textarea></textarea>
                </div>
              </div>
              <div>
                <button
                  type="button">
                  Add
                </button>
              </div>
            </form>
          </div>
          <div>
            <table>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Action</th>
              </tr>
              <tr>
                <td>1</td>
                <td>the hobbit</td>
                <td>
                  <button type="button" class="btn btn-sm btn-link"><a href="{% url 'viewauthors' author_id=author.id %}">View</a></button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
  
</body>
</html>