<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

<div >
    <div >
      <hgroup>
        <h3>Lau Tzu</h3>
        <p>ID: 5</p>
      </hgroup>
      <dl >
        <dt>Notes</dt>
        <dd>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
          doloribus repellat rem natus suscipit saepe incidunt commodi
          voluptatem impedit, porro delectus tempore, dolorem assumenda
          temporibus aliquam voluptatibus inventore. Esse, cum.
        </dd>
      </dl>
    </div>
    <div>
      <ul >
        <li>
          Books:
          <ul>
            <li>Java</li>
          </ul>
        </li>
      </ul>
      <div >
        <div >
          <select >
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div>
          <button type="button" >Light</button>
        </div>
      </div>
    </div>
    </div>
</body>
</html>